BACKEND_PORT=3001
GEOCODER_ENDPOINT=http://localhost:4000/v1
TRANSITION_ENDPOINT=http://localhost:8080
TRANSITION_USER_NAME=user
TRANSITION_USER_PASSWORD=password
VITE_MAP_INITIAL_LONGITUDE=-73.554167
VITE_MAP_INITIAL_LATITUDE=45.508889
VITE_MAP_INITIAL_ZOOM=3.5
VITE_MAP_STYLE_LIGHT=https://tiles.openfreemap.org/styles/positron
VITE_MAP_STYLE_DARK=https://tiles.openfreemap.org/styles/dark
